.nav{
    background-color: #ef0000;
    overflow: hidden;
    align-items: center;
}

.nav-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
